@font-face {
  font-family: Sharp Sans Display No1;
  font-weight: 500;
  src: url(https://www.beyondmeat.com/en-US/static/SharpSansDispNo1-Medium-029b774b29e4977de70078b3c2c4669b.otf) format("opentype")
}

@font-face {
  font-family: Sharp Sans Display No1;
  font-weight: 600;
  src: url(https://www.beyondmeat.com/en-US/static/SharpSansDispNo1-Semibold-daea0e5ae0260f8f5b12d4e12152e191.otf) format("opentype")
}

@font-face {
  font-family: Sharp Sans Display No1;
  font-weight: 700;
  src: url(https://www.beyondmeat.com/en-US/static/SharpSansDispNo1-Bold-3a9a17d07aa561565f6113015bbc97e0.otf) format("opentype")
}

@font-face {
  font-family: Sharp Sans Display No1;
  font-weight: 800;
  src: url(https://www.beyondmeat.com/en-US/static/SharpSansDispNo1-Extrabold-6c70e454ee045032032d3fdd0d602c6d.otf) format("opentype")
}

@font-face {
  font-family: Sharp Sans Display No1;
  font-weight: 900;
  src: url(https://www.beyondmeat.com/en-US/static/SharpSansDispNo1-Black-a6b100d361fec5b0ba1a85e2218bdaec.otf) format("opentype")
}

@font-face {
  font-family: Noto Sans Hebrew;
  font-weight: 500;
  src: url(https://www.beyondmeat.com/en-US/static/NotoSansHebrew-Medium-1801db34d769cfafd044a224c1566916.ttf) format("truetype")
}




html,
body {
  padding: 0;
  margin: 0;
  font-family: "Sharp Sans Display No1", "Sharp Sans Display No1", sans-serif;
  background-color: rgb(19, 20, 31);
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header,
footer {
  color: rgb(137, 221, 255);

}

header {
  position: absolute;
  top: 0;
  z-index: 10;
}

header>.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

header>.container>.menu {
  padding: 10px 0px;
  display: flex;
  justify-content: left;
}



header>.container>.menu a {
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
}

header>.container>.menu span {
  display: flex;
}

header>.container>.menu>img,
footer img {
  padding: 2px 2px;
  width: 50px;
}

section {
  background-color: rgb(24, 25, 40);
  background-color: #1a1b27;
  width: 100%;
  padding: 5vw 0;
  /* position: relative; */
  margin-top: 100px;
}

code {
  display: flex;
  color: rgb(24, 25, 40);
  vertical-align: top;
  /* margin: 20px 40px; */
}

code>img {
  /* margin-top: 5px; */
  height: 26px;
}

.option-icons {
  justify-content: space-between;

}

.option-icons i {
  justify-content: space-between;
  padding: 10px 20px;
}
.option-icons i:hover {
  background-color: black;
}

.option-icons i:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.hidden {
  width: 0;
  height: 0;
}



@media only screen and (max-width: 680px) {
  .potrait100percent {
    width: 100% !important;
  }

  .potraitWidth60percent {
  width: 55%;
  overflow-x: scroll;

  }

  .potrait80vw {
    width: 80vw !important;
  }

  .potraitHeight50vw {
    height: 50vw !important;
  }

  .potraitPaddingTop25vh {
    padding-top: 25vh !important;
  }


  .potritDisplayNone {
    display: none;
  }

  .potritDisplayFlex {
    display: flex !important;
  }

  .grid {
    width: 100%;
    flex-direction: column;
  }

  .modal-image-zoom-content {
    width: 100%;
  }
}

.material-icons {
  cursor: pointer;
}



.fadeInUp {
  animation: 1s fadeInUp 0s ease-in-out backwards;
}

.fadeOutUp {
  animation: 1s fadeOutUp 0s ease-in-out backwards;
}

@keyframes fadeInUp {
  0% {
    transform: translate(0px, 5px);
    opacity: 0;
  }

  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}

@keyframes fadeOutUp {
  0% {
    transform: translate(0px, 0);
    opacity: 1;
  }

  100% {
    transform: translate(0px, -5px);
    opacity: 0;
  }
}

.fadeInDown {
  animation: 1s fadeInDown 0s ease-in-out backwards;
}

.fadeOutDown {
  animation: 1s fadeOutDown 0s ease-in-out backwards;
}

@keyframes fadeInDown {
  0% {
    transform: translate(0px, -5px);
    opacity: 0;
  }

  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}

@keyframes fadeOutDown {
  0% {
    transform: translate(0px, 0);
    opacity: 1;
  }

  100% {
    transform: translate(0px, 5px);
    opacity: 0;
  }
}



.modal-image-zoom {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-image-zoom-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1080px;
}

/* Add Animation */
.modal-image-zoom-content {  
  animation-name: zoom;
  animation-duration: 0.6s;
}
/* The Close Button */
.modal-image-zoom-close {
  position: fixed;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 30;
}

@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}

.active-menu {
 color: rgba(137, 221, 255, 0.4)
}

.stats > *{
  margin: 10px;
}

section .notion, section .notion-cover {
  width: 90%;
  color: white;
  max-height: fit-content;
}
section .notion-cover{
  width: 100%;
min-height: 30vh;
background-size: cover;
}

section .avatar {
  display: flex;
  justify-content: center;
  align-content: center;
}